<%= form_tag posts_path do %>
  <h3>Post title:</h3>
  <%= text_field_tag :title %><br>

  <h3>Post Description</h3>
  <%= text_area_tag :description %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
